In [8]:
import pandas as pd

In [3]:
%cd ..

/Users/adornes/Dropbox/Profissional/Consulting/TheAIAcademy/repos/adornes-cml

In [5]:
%%bash
dvc dag

              +---------------+
              | load_raw_data |
              +---------------+
                       *
                       *
                       *
               +--------------+
               | prepare_data |
               +--------------+
                       *
                       *
                       *
               +-------------+
               | enrich_data |
               +-------------+
              ***            ***
            **                  ***
          **                       **
+-------------+                      **
| train_model |                    **
+-------------+                 ***
              ***            ***
                 **        **
                   **    **
              +----------------+
              | evaluate_model |
              +----------------+

In [6]:
%%bash
dvc repro

Stage 'load_raw_data' didn't change, skipping
Stage 'prepare_data' didn't change, skipping
Stage 'enrich_data' didn't change, skipping
Stage 'train_model' didn't change, skipping
Stage 'evaluate_model' is cached - skipping run, checking out outputs

In [9]:
pd.read_csv("assets/raw_data/Sales_Transactions_Dataset_Weekly.csv").head()

,Product_Code,W0,W1,W2,W3,W4,W5,W6,W7,W8,...,Normalized 42,Normalized 43,Normalized 44,Normalized 45,Normalized 46,Normalized 47,Normalized 48,Normalized 49,Normalized 50,Normalized 51
0,P1,11,12,10,8,13,12,14,21,6,...,0.06,0.22,0.28,0.39,0.50,0.00,0.22,0.17,0.11,0.39
1,P2,7,6,3,2,7,1,6,3,3,...,0.20,0.40,0.50,0.10,0.10,0.40,0.50,0.10,0.60,0.00
2,P3,7,11,8,9,10,8,7,13,12,...,0.27,1.00,0.18,0.18,0.36,0.45,1.00,0.45,0.45,0.36
3,P4,12,8,13,5,9,6,9,13,13,...,0.41,0.47,0.06,0.12,0.24,0.35,0.71,0.35,0.29,0.35
4,P5,8,5,13,11,6,7,9,14,9,...,0.27,0.53,0.27,0.60,0.20,0.20,0.13,0.53,0.33,0.40

In [10]:
pd.read_csv("assets/prepared_data/prepared_data.csv").head()

   Product_Code  Week  Sales
0             1     0     11
1             2     0      7
2             3     0      7
3             4     0     12
4             5     0      8

In [12]:
pd.read_csv("assets/enriched_data/enriched_data.csv").head()

   Product_Code  Week  Sales  Last_Week_Sales  Last_Week_Diff
0             1     2     10             12.0             1.0
1             2     2      3              6.0            -1.0
2             3     2      8             11.0             4.0
3             4     2     13              8.0            -4.0
4             5     2     13              5.0            -3.0

In [14]:
%%bash
cat assets/metrics.json

{"r_squared": 0.8749837678187495, "rmse": 3.90975977620683, "rmsle": 0.4672756781160658}

In [25]:
%%bash
dvc metrics show -T

workspace:
	assets/metrics.json:
		r_squared: 0.8749837678187495
		rmse: 3.90975977620683
		rmsle: 0.4672756781160658
dvc-ready:
	assets/metrics.json:
		r_squared: 0.8744084792695068
		rmse: 3.918745242889401
		rmsle: 0.4682367993512513
rf-estimators-1000:
	assets/metrics.json:
		r_squared: 0.8749837678187495
		rmse: 3.90975977620683
		rmsle: 0.4672756781160658